.container {
  height: 100vh;
}

table {
  width: 100%;
  background-color: transparent;
}

.mat-form-field {
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding-left: 1vw;
  align-self: center;
}

.paginator {
  background-color: transparent;
  width: 96vw;
}

td,
th {
  width: 25%;
  font-size: 18px;
  font-weight: 500;
}

.tableState {
  position: absolute;
  left: 42.5vw;
  top: 150%;
  transform: translate(-45%, -150%);
  width: 40%;
  height: 34vh;
  z-index: -1;
}

.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  width: 50vw;
  text-align: center;
  color: #ffad4d;
}

.error-btn {
  margin-top: 1vh;
  background-color: #ffad4d;
  width: auto;
  font-size: 18px;
  text-align: center;
  color: white;
}

.fade-in-table {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
