// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$here-we-go-primary: mat-palette($mat-indigo);
$here-we-go-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$here-we-go-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$here-we-go-theme: mat-light-theme(
  $here-we-go-primary,
  $here-we-go-accent,
  $here-we-go-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($here-we-go-theme);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 173, 77, 0.35898109243697474) 0%,
    rgba(244, 157, 166, 1) 100%
  );
}

html {
  height: 100%;
}

.mat-paginator-icon {
  width: 2vw !important;
  color: #fbc62c;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: black !important;
  Input {
    color: black !important;
  }
}
